{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"clj/src/kototama/browser.cljk" ".cljs"
  "clj/src/kototama/node.cljk" ".cljs"
  "clj/src/kototama/unspsc/build_taxonomy.cljk" ".clj"
  "clj/src/kototama/unspsc/capability.cljk" ".cljc"
  "clj/src/kototama/unspsc/enrich.cljk" ".clj"
  "clj/src/kototama/unspsc/fleet.cljk" ".clj"
  "clj/src/kototama/unspsc/life.cljk" ".cljc"
  "clj/src/kototama/unspsc/organism.cljk" ".cljc"
  "clj/src/kototama/unspsc/prior_shortcut_kotoba.cljk" ".clj"
  "clj/src/kototama/unspsc/react.cljk" ".cljc"
  "clj/src/kototama/unspsc/taxonomy.cljk" ".cljc"
  "clj/test/kototama/unspsc/capability_test.cljk" ".clj"
  "clj/test/kototama/unspsc/fleet_test.cljk" ".clj"
  "clj/test/kototama/unspsc/life_test.cljk" ".clj"
  "clj/test/kototama/unspsc/organism_test.cljk" ".clj"
  "clj/test/kototama/unspsc/prior_shortcut_kotoba_test.cljk" ".clj"
  "clj/test/kototama/unspsc/react_test.cljk" ".clj"
  "lib/actor/fleet-heartbeat.cljk" ".cljs"
  "lib/actor/publish.cljk" ".cljs"
  "lib/kototama/atproto.cljk" ".cljc"
  "lib/kototama/cell.cljk" ".cljc"
  "lib/kototama/core.cljk" ".cljc"
  "lib/kototama/core_test.cljk" ".clj"
  "lib/kototama/didkey.cljk" ".cljc"
  "lib/kototama/emit.cljk" ".cljc"
  "lib/kototama/gates.cljk" ".cljc"
  "lib/kototama/heartbeat.cljk" ".cljc"
  "lib/kototama/identity.cljk" ".cljc"
  "lib/kototama/kotoba.cljk" ".cljc"
  "lib/kototama/leash.cljk" ".cljc"
  "lib/kototama/life.cljk" ".cljc"
  "lib/kototama/membrane.cljk" ".cljc"
  "lib/kototama/network/dht_peer.cljk" ".cljc"
  "lib/kototama/network/dht_reachability.cljk" ".cljc"
  "lib/kototama/network/pregel_gossip.cljk" ".cljc"
  "lib/kototama/organism.cljk" ".cljc"
  "lib/kototama/test_actor.cljk" ".clj"
  "lib/kototama/test_atproto.cljk" ".cljc"
  "run-tests.cljk" ".cljs"
  "scripts/check-q9-migration-policy.cljk" ".cljs"
  "scripts/edn-datomize.cljk" ".cljs"
  "scripts/generate-site.cljk" ".cljs"
  "src/kototama/aiueos_adapter.cljk" ".clj"
  "src/kototama/bounded_stream.cljk" ".clj"
  "src/kototama/browser.cljk" ".cljc"
  "src/kototama/cli.cljk" ".clj"
  "src/kototama/compatibility.cljk" ".clj"
  "src/kototama/component_authority.cljk" ".clj"
  "src/kototama/component_authority_daemon.cljk" ".clj"
  "src/kototama/component_authority_http.cljk" ".clj"
  "src/kototama/component_platform.cljk" ".clj"
  "src/kototama/component_provider.cljk" ".cljc"
  "src/kototama/contract.cljk" ".cljc"
  "src/kototama/denial.cljk" ".cljc"
  "src/kototama/evm_tender.cljk" ".cljc"
  "src/kototama/execution.cljk" ".cljc"
  "src/kototama/guest.cljk" ".cljc"
  "src/kototama/host_parity_live.cljk" ".clj"
  "src/kototama/linear_journal.cljk" ".clj"
  "src/kototama/linker.cljk" ".clj"
  "src/kototama/network_authority.cljk" ".clj"
  "src/kototama/postgresql_pool_provider.cljk" ".clj"
  "src/kototama/postgresql_wire_provider.cljk" ".clj"
  "src/kototama/release_evidence.cljk" ".clj"
  "src/kototama/runtime_conformance.cljk" ".clj"
  "src/kototama/runtime_lifecycle.cljk" ".cljc"
  "src/kototama/signal_crypto.cljk" ".clj"
  "src/kototama/signal_protocol.cljk" ".clj"
  "src/kototama/signal_request.cljk" ".clj"
  "src/kototama/signer_lifecycle.cljk" ".clj"
  "src/kototama/tamaki_contract.cljk" ".cljc"
  "src/kototama/tcb.cljk" ".clj"
  "src/kototama/tender.cljk" ".clj"
  "src/kototama/transport_provider.cljk" ".clj"
  "src/kototama/wasm_fields.cljk" ".cljc"
  "src/kototama/workerd_core.cljk" ".clj"
  "test/kototama/aiueos_adapter_test.cljk" ".clj"
  "test/kototama/bounded_stream_test.cljk" ".clj"
  "test/kototama/browser_test.cljk" ".cljc"
  "test/kototama/cli_test.cljk" ".clj"
  "test/kototama/compatibility_test.cljk" ".clj"
  "test/kototama/component_authority_daemon_test.cljk" ".clj"
  "test/kototama/component_authority_http_test.cljk" ".clj"
  "test/kototama/component_authority_test.cljk" ".clj"
  "test/kototama/component_grant_test.cljk" ".clj"
  "test/kototama/component_platform_test.cljk" ".clj"
  "test/kototama/component_provider_test.cljk" ".cljc"
  "test/kototama/contract_test.cljk" ".cljc"
  "test/kototama/delivery_semantics_test.cljk" ".clj"
  "test/kototama/denial_parity_test.cljk" ".clj"
  "test/kototama/denial_test.cljk" ".cljc"
  "test/kototama/evm_program_cid_test.cljk" ".cljc"
  "test/kototama/evm_tender_test.cljk" ".clj"
  "test/kototama/execution_test.cljk" ".cljc"
  "test/kototama/guest_test.cljk" ".cljc"
  "test/kototama/host_parity_live_test.cljk" ".clj"
  "test/kototama/implementation_profile_test.cljk" ".clj"
  "test/kototama/linear_journal_test.cljk" ".clj"
  "test/kototama/maturity_test.cljk" ".clj"
  "test/kototama/network_authority_test.cljk" ".clj"
  "test/kototama/packaging_test.cljk" ".clj"
  "test/kototama/postgresql_interop.cljk" ".clj"
  "test/kototama/release_evidence_test.cljk" ".clj"
  "test/kototama/runtime_conformance_test.cljk" ".clj"
  "test/kototama/runtime_lifecycle_test.cljk" ".cljc"
  "test/kototama/signal_crypto_integration_test.cljk" ".clj"
  "test/kototama/signer_lifecycle_test.cljk" ".clj"
  "test/kototama/tamaki_contract_test.cljk" ".cljc"
  "test/kototama/tcb_test.cljk" ".clj"
  "test/kototama/tender_test.cljk" ".clj"
  "test/kototama/transport_provider_test.cljk" ".clj"
  "test/kototama/vm_spec_test.cljk" ".clj"
  "test/kototama/workerd_core_test.cljk" ".clj"
  "web/generate.cljk" ".cljs"}}
