{:adoption/version 1 :consumer/id :kototama
 :security/git-sha "9316629ed15437ef1cf0f93b7f98e7cb31ef91d2"
 :required-control-namespaces [kotoba.security.transport]
 :security-sensitive-entrypoints [kototama.transport-provider]
 :exceptions []}
