{:adoption/version 3 :consumer/id :kototama
 :security/git-sha "c83183f7b66afda6a095e690ff617075a39cc0eb"
 :required-control-namespaces [kotoba.security.abac kotoba.security.approval kotoba.security.crypto-policy kotoba.security.effect kotoba.security.hardware kotoba.security.information-flow]
 :security-sensitive-entrypoints
 {kototama.transport-provider [kotoba.security.abac kotoba.security.approval kotoba.security.crypto-policy kotoba.security.hardware kotoba.security.information-flow]
  kototama.fleet-store [kotoba.security.effect]}
 :sensitive-operations
 {kototama.fleet-store/b2-authorize! [kotoba.security.effect]}
 :exceptions []}
